.footer{
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
  font-size: 20px;
  max-width: 400px;
}
.footer-top-right{
  display: flex;
  align-items: center;
  gap: 35px;
}
.contact-details{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #D8D8D8;
  font-size: 15px;
}
.conatct-detail{
  display: flex;
  align-items: center;
  gap: 20px;
}